header {
    background-color:beige;
    border-bottom: 3px solid rgb(218, 209, 91);
    padding: 2%;
    position: sticky;
    top: 0;
}

body {
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
}

body::after {
    display: block;
    content: "";
    height: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.profile {
    margin-left: auto;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.navi {
    display: flex;
}

.navi ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.navi ul li {
    display: inline;
}

.navi a, .exit a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

aside {
    background-color: tan;
    margin-bottom: 2%;
    width: 200px;
    float: left;
    position: sticky;
    top: 98px;
}

main {
    width: 95%;
    margin: 2% auto;
}

section {
    margin-bottom: 2%;
}

.page {
    margin-top: 0;
    margin-left: 220px;
    font-size: 0;
}

h3 {
    font-weight: bold;
    margin-bottom: 1%;
    font-size: 1.2rem;
}

h1{
    font-size: 2rem;
}

.product {
    display: inline-block;
    width: 500px;
    height: 250px;
    background-color:burlywood;
    border: 3px solid rgb(218, 209, 91);
    border-radius: 5%;
    font-size: 1rem;
    margin-right: 15px;
    margin-bottom: 15px;
}

.prod-img {
    width: 50%;
    height: 100%;
    float: left;
    border-radius: 5%;
    overflow: hidden;
}

.prod-img img {
    height: 100%;
    border-radius: 10%;
}

.info {
    margin: 0;
    text-align: justify;
}

.prod-det {
    width: 50%;
    padding: 10px;
    height: 100%;
    float: right;
}

.prod-det h3 {
    margin-top: 2%;
    margin-bottom: 5%;
}

.control {
    text-align: center;
    margin-top: 5%;
}

.btn {
    padding: 0;
}

.btn .price {
    background-color: yellowgreen;
}

.btn .buy {
    background-color: turquoise;
}

footer {
    background-color: black;
    color: white;
    border-top: 2px solid red;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
}

.scroll {
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid;
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color:cornflowerblue;
    cursor: pointed;
    outline: none;
}