header {
    background-color: rgb(100, 12, 200);
    color: white;
}

header li {
    color: white;
}

body {
    margin: 0;
    text-align: justify;
    font-weight: 700; /* жирный */
}

.cont {
    max-width: 65%;
    /*
        margin-left: auto;
        margin-right: auto;
    */
    margin: 0 auto;
    background-color: rgb(100, 12, 200);
}

.menu ul {
    color: red;

}

.menu li {
    display: inline;
    margin-right: 5%;
}

.avatar {
    height: 300px;
    text-align: center;
    background-position: center;
    background-image: url(/* ссылочка */);
}